{{>content}}

<div class="table-scrollable" as-preloader="state == ListState.Downloading">
    <table class="table table-hover">
        <thead>
            <tr>
            {{yield head}}
            </tr>
        </thead>
        <tbody>
            {{#each items}}
                <tr>
                {{yield row with this}}
                </tr>
            {{/each}}
            {{#if items.length == 0}}
                <tr>
                    <td valign="top" colspan="100" class="text-center">{{loc('nothingFound')}}</td>
                </tr>
            {{/if}}
        </tbody>
    </table>
</div>