﻿.items-selector {
    transition: .3s;
    min-height: 115px;
    position: relative;
    .items {
        display: flex;
        overflow-x: overlay;
        white-space: nowrap;

        .item {
            position: relative;
            height: 100%;
            margin-right: 5px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
            a {
                text-decoration: none;
            }
            img {
                max-height: 115px;
                -ms-opacity: 1;
                opacity: 1;
                -webkit-transition: .1s ease-in-out;
                -ms-transition: .1s ease-in-out;
                -o-transition: .1s ease-in-out;
                transition: .1s ease-in-out;
            }
            &:hover {
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
            }
        }
    }

    .arrow {
        user-select: none;
        position: absolute;
        top: 0;
        cursor: pointer;
        height: 115px;
        padding: 0 10px;
        z-index: 100;
        transition: padding .33s ease,opacity .2s linear;
        transform-style: preserve-3d;
        opacity: .5;
        background: #555;

        &:hover {
            opacity: 0.7;
        }

        &:active div {
            opacity: 1;
            margin-top: 1px;
        }
        div:first-child {
            background-position: 0 0;
            opacity: 1;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        &.arrow.arrow-left {
            left: 0;
        }
        &.arrow.arrow-right {
            right: 0;
            div:first-child {
                background-position: 23px 0 !important;
            }
        }
    }
}