﻿.dd-menu {
    .dd-content {
        position: absolute;
        list-style: none;
        background: white;
        border-radius: 0.25rem;
        top: -10px;
        left: 0;
        right: 0px;
        box-shadow: 0 0 15px 1px rgba(69, 65, 78, 0.2);
        transform: translate3d(-171.5px, 70px, 0px);

        &.hidden {
            display: none;
        }

        &:after, &:before {
            bottom: 100%;
            content: " ";
            height: 0;
            left: calc(48.3%);
            pointer-events: none;
            position: absolute;
            width: 0;
            border-bottom: 8px solid #FFF;
        }

        &:after {
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
        }

        &:before {
            border-bottom: 9px solid #CCC;
            border-left: 9px solid transparent;
            border-right: 8px solid transparent;
        }
    }
}
