﻿@font: 'Roboto',
sans-serif;
@secondary: #4d5c6e;
@text: #72879e;
@confirm: #00c06d;
@cancel: #dc2929;
@info: #008DC0;
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1005;
    .modal {
        margin: 50px auto;
        position: relative;
        width: 600px;
        background-color: #FFF;
        .header {
            min-height: 50px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .title {
                padding-left: 20px;
                padding-top: 10px;
                margin-top: 0;
                color: #4d5c6e;
                font-weight: 400;
                font-size: 1.5rem;
                flex: 1;
            }
            .close-modal {
                font-family: @font;
                cursor: pointer;
                color: #FFF;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                color: #999;
                font-size: 30px;
                user-select: none;
                align-self: flex-start;
                z-index: 1;
                &:hover {
                    background: rgba(0, 0, 0, 0.05);
                }
                span {
                    transform: rotate(45deg);
                    display: block;
                }
            }
        }
        &.active {
            display: block;
        }
        .content {
            padding: 20px 20px 60px 20px;
        }
        .buttons {
            display: flex;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 40px;
            background-color: #FFF;
            &>* {
                flex: 1;
            }
            a,
            button {
                width: 100%;
                height: 40px;
                text-align: center;
                float: left;
                background-color: #EEE;
                color: @secondary;
                transition: 0.3s;
                text-transform: uppercase;
                font-weight: bold;
                padding: 0;
                border: 0;
                font-size: 14px;
                line-height: 15px;
                cursor: pointer;
                &:hover {
                    background-color: darken(#EEE, 5%);
                }
                &:focus {
                    outline: none;
                    box-shadow: none !important;
                    border: none;
                }
            }
            .btn-confirm {
                color: #FFF;
                background-color: @confirm;
                &:hover {
                    background-color: darken(@confirm, 5%);
                }
            }
            .btn-cancel {
                color: #FFF;
                background-color: @cancel;
                &:hover {
                    background-color: darken(@cancel, 5%);
                }
            }
            .btn-info {
                color: #FFF;
                background-color: @info;
                &:hover {
                    background-color: darken(@info, 5%);
                }
            }
            button[disabled] {
                cursor: not-allowed;
                background-color: darken(#EEE, 10%);
            }
        }
    }
}