<div class="list">
    <div class="list-filter">
        <div class="row">
            <div class="col-3">
                <input name="search" type="text" class="form-control"
                       on-inputdelay="search" data-delay="400"
                       value="{{filter.search}}" placeholder="{{'search'}}...">
            </div>
        </div>
    </div>

    <div class="separator"></div>

    <div class="list-items">
        <Paginator />

        <Table>
            {{#partial head}}
                <Column sort="FullName" width="20%" style="color: red">asdasd</Column>
                <Column head sort="Email">Email</Column>
                <Column head sort="RegistrationDate">registrationDate</Column>
                <Column head>location</Column>
                <Column>location1</Column>
            {{/partial}}

            {{#partial row}}
            <td width="20%">
                    <a as-route href="/admin/users/{{id}}/info">
                        {{#if fullName==null || fullName=="" }}
                        <span style="color: rgba(175, 175, 175, 1);">{{"nameIsEmpty"}}</span>
                        {{else}}
                        {{fullName}}
                        {{/if}}
                    </a>
                </td>
                <td width="30%">
                    {{email}}
                </td>
                <td width="20%">
                    {{getDate(registrationDate)}}
                </td>
                <td width="20%">
                    {{location}}
                </td>
            {{/partial}}
        </Table>

        <Paginator />
    </div>
</div>
