﻿@loader_size: 30px;

.loader-wrapper {
    padding: 5px;
    z-index: 1002;
    height: 50px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;

    &.fixed {
        position: fixed;
    }

    .loader {
        border: 1px solid #ddd;
        background-color: #eee;
        border-radius: 2px;
        -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.1);
        -moz-box-shadow: 0 1px 8px rgba(0,0,0,.1);
        box-shadow: 0 1px 8px rgba(0,0,0,.1);
        display: flex;
        padding: 5px;
        align-items: center;
        width: fit-content;
        margin: 0 auto;

        .circle {
            box-sizing: border-box;
            width: @loader_size;
            height: @loader_size;
            border-radius: 50%;
            background: linear-gradient(rgba(64, 150, 238, 1) -50%,rgba(64, 150, 238, 0) 60%);
            animation: roll-right 3s linear infinite;

            &.inner {
                padding: 5px;
                animation: roll-left 1s linear infinite;

                &:after {
                    content: "";
                    display: block;
                    width: @loader_size - 10px;
                    height: @loader_size - 10px;
                    border-radius: 50%;
                    background-color: #eeeeee;
                }
            }
        }

        .loader-text {
            line-height: @loader_size;
            margin-left: 5px;
            color: #646664;
        }

        .loading-dots {
            color: #646664;
            padding-right: 12px;
        }
    }
}

.loader-block {
    z-index: 1001;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0);
    opacity: 0.05;
    cursor: wait;
    position: absolute;
}



@keyframes roll-right {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes roll-left {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
