.dropdown_multiDDL {
    /*width: 360px;*/
    margin-top: 0;
    margin-bottom: 0 !important;
    color: #8c8282;

    .row {
        margin-left: 0;
        height: auto;
    }

    dd,
    dt {
        margin: 0;
        padding: 0;
    }

    dd {
        margin-top: 2px;
        position: relative;

        .mutliSelect {
            display: none;
        }

        ul {
            padding-left: 0;
            background-color: #fff;
            border: 1px solid #cccccc;
            color: #555555;
            width: 348px;
            list-style: none;
            height: auto;
            max-height: 300px;
            overflow: auto;
            margin: 0;
            overflow-x: hidden;
            /*-ms-border-radius: 4px;
            border-radius: 4px;*/
            /*box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 7px;
            -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 7px;
            -ms-box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 7px;*/
            /*border-top-left-radius: 0;
            border-top-right-radius: 0;*/
            width: 100%;

            li {
                line-height: 32px;

                .checkbox {
                    padding-left: 5px !important;

                    label {
                        float: left;
                        margin-top: 5px;
                    }
                }

                &:nth-child(odd) {
                    background: #fff;
                }

                &:nth-child(even) {
                    background: #f7f7f7;
                }
                /*&:last-child {
                    background: none;
                }*/
                &:not(.last) button {
                    padding: 1px 6px !important;
                }

                input[type="checkbox"] {
                    margin-right: 5px;
                    margin-top: 10px;
                }

                hr {
                    margin: 6px 0;
                }

                .btn-group {
                    float: right;
                    margin-right: 5px;
                    margin-top: 3px;
                }
            }
        }
    }

    dt {
        a {
            overflow-y: auto;
            background-color: #fff;
            display: block;
            padding: 5px 8px;
            border: 0;
            font-weight: normal;
            font-size: 15px;
            /*box-shadow: 0 0 2px rgba(128, 128, 128, 0.4);*/
            text-decoration: none;

            &.readonly {
                background: #EEE;
                cursor: no-drop;
            }
        }
    }

    span.value {
        display: none;
    }

    dt a span,
    .multiSel span {
        cursor: pointer;
        display: inline-block;
        padding: 0 3px 0 0;
    }

    .item-inner-content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:not(input) * {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .multiSel {
        cursor: pointer;
        display: flex;
        align-items: center;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;

        .title {
            font-size: 1rem;

            .title-inner {
                display: inline-block;
            }

            .multiDDL_label {
                font-size: 15px;
                padding: 0px 0px 0px 4px;
                background-color: #89C4F4;
                text-shadow: none !important;
                font-weight: 300;
                color: #fff;
                margin-right: 2px;
                margin-bottom: 2px;

                .remove_label_btn {
                    background: transparent;
                    border: 0;
                    color: white;
                    outline: none;
                    cursor: pointer;
                    margin-left: 2px;

                    &:hover,
                    &:active {
                        background: #73befb;
                    }
                }
            }
        }

        .arrow {
            margin-left: auto;

            .arrow-down {
                width: 0;
                height: 0;
                border-left: 3px solid transparent;
                border-right: 3px solid transparent;
                border-top: 6px solid #515151;
                font-size: 0;
                line-height: 0;
            }

            .arrow-left {
                width: 0;
                height: 0;
                border-bottom: 3px solid transparent;
                border-top: 3px solid transparent;
                border-right: 6px solid #515151;
                font-size: 0;
                line-height: 0;
            }
        }
    }

    .result-list {
        z-index: 999;
    }

    div.search-block {
        width: 100%;
        z-index: 999;

        input {
            /*border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;*/
            border-radius: 0;
            /*box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 7px;
            -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 7px;
            -ms-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 7px;*/
        }
    }

    span.search-block {
        input {
            border-radius: 0;
            border: 0;
            outline: 0;
        }
    }
}
