<div class="pagination-menu">
    <div>
        <label>{{loc('itemCount')}}:&nbsp;
            <b>{{filter.itemsTotal}}</b>
        </label>
        {{#if filter.itemsTotal> 25}}
            &nbsp;
            <label>{{loc('itemCount')}}:&nbsp;</label>
            <select class="form-control form-control-sm" on-change="['changeValue','take',filter.take]" value="{{filter.take}}">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        {{/if}}
    </div>
     {{#if filter.pageTotal> 1}}
        <div>
            <div class="input-group input-group-sm">
                <ul class="pagination pagination-sm">
                    {{#if filter.page==1}}
                        <li class="page-item disabled">
                            <a class="page-link" href="javascript:;">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {{else}}
                        <li class="page-item" on-click="['selectPage', filter.page-1]">
                            <a class="page-link" href="javascript:;">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {{/if}} 
                    {{#each pages}}
                        <li class="page-item {{active==true?'active':''}}" on-click="['selectPage', num]">
                            <a class="page-link" href="javascript:;">{{num}}</a>
                        </li>
                    {{/each}} 
                    {{#if filter.page==filter.pageTotal}}
                        <li class="page-item disabled">
                            <a class="page-link" href="javascript:;">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {{else}}
                        <li class="page-item" on-click="['selectPage', filter.page+1]">
                            <a class="page-link" href="javascript:;">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    {{/if}}
</div>