.pagination-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div:first-child {
        display: flex;

        select {
            width: 60px;
        }
    }
}