menu {
	z-index: 1;
	display: block;
	position: absolute;
	top: 50px;
	left: 50px;
	margin: 0;
	padding: 0;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.35);
	font-size: 14px;
	line-height: 15px;
	&::before {
		display: block;
		position: absolute;
		content: "";
		top: -1px;
		left: -1px;
		bottom: -1px;
		right: -1px;
		border: 1px solid rgba(0, 0, 0, 0.125);
		z-index: -1;
	}
	hr {
		border: none;
		height: 1px;
		background: rgba(0, 0, 0, 0.10);
		margin: 6px 1px 5px;
		padding: 0;
	}
	menuitem {
		display: block;
		padding: 5px 20px;
		border-top: 1px solid rgba(0, 0, 0, 0);
		border-bottom: 1px solid rgba(0, 0, 0, 0);
		&::after {
			vertical-align: 2px;
			content: attr(label);
		}
		&:hover {
			background: #ebebeb;
			cursor: pointer;
		}
	}
}