.sort-th{
    cursor: pointer;
    user-select: none;
    text-decoration: none;

        &:hover {
            text-decoration: none;
        }

        &.asc i.desc{
            display: none;
        }
    
        &.desc i.asc{
            display: none;
        }

        i.asc{
           letter-spacing: -5px;     
        }
}