{{#if head != undefined || sort != undefined}}
    <th class="{{class}}" style="{{style}}" {{setWidth()}}>
        {{#if sort != undefined}}
            <a class="sort-th {{getSortType(sort)}}" on-click="['changeSort',sort]">
               {{yield content}}
                <i class="asc">&darr;</i>
                <i class="desc">&uarr;</i>
            </a>
        {{else}}
            {{yield content}}
        {{/if}}
    </th>
{{else}}
    <td class="{{class}}" style="{{style}}" {{setWidth()}}>
        {{yield content}}
    </td>
{{/if}}

